# git svn show-ignore
#
# Patterns in alphabetical order (ignoring special characters):

bin
*.class
.classpath
.pmd
target/
*.swp
*.backup
*.log

# excldue IntelliJ Idea project files
*.iml

# OS
.DS_Store
Thumbs.db
*.xml~
*.bat

# IDE
_.*
.buildpath
.cache
.config
.deployables
.idea
.metadata
.project
.settings
.tmp*
*.prefs
atlassian-ide-plugin.xml
.checkstyle
nb-configuration.xml
effective-pom.xml


#exclude dependencycheck folders
dependencycheck
